<!DOCTYPE html>

<html>

 <head>
    <title>Producto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href= "style.css" rel="stylesheet">
 </head>

   <body>

     <header>
     </header>

     <main>
       <section class="productos">
        <div>
            <img src="Sahumerios.JPG" class="imagenProducto" alt="Nombre de Producto">
        </div>
        <div>
            <h1>Sahumerio Patchouly</h1>
            <p>Patchouly</p>
            <img src="ruta de imagen" class="imagenMediosPago" alt="Medios de Pago">
            <button>Cantidad</button>
            <button>Comprar</button>
        </div>

        

       </section>
        <section class="detalleDeProducto">

            <div>
                <h3>Detalle del Producto</h3>
               <p> Se lo conoce por su aroma intenso, componente en muchos perfumes corporales. Aporta energía y vitalidad, también... activa la sensualidad y el erotismo. </p> 
            </div>

        </section>

        <section class="slider">

            <div>
                <article>
                    <img src="ruta de imagen" class="imagenSlider" alt="Nombre de Producto">
                    <h4> Nombre del producto </h4>
                      
                </article>

                <article>
                    <img src="ruta de imagen" class="imagenSlider" alt="Nombre de Producto">
                    <h4> Nombre del producto </h4>
                      
                </article>

                <article>
                    <img src="ruta de imagen" class="imagenSlider" alt="Nombre de Producto">
                    <h4> Nombre del producto </h4>
                      
                </article>
                
            </div>

        </section>

     </main>

     <footer>
         <section>
             <h1>Seguinos</h1>
             <div> <img src="" alt="Facebook"> </div>
             <div> <img src="" alt="Instagram"> </div>

         </section>
        <div> <img src="" alt="Logo de la marca"> </div>
        <h3>Productos</h3>
        <h3>Contacto</h3>
        <h3>Legales</h3>
        <h3>Ofertas</h3>
        <h3>Sobre nuestros productos</h3>
     </footer>
  
   </body>

</html>