*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

body {
    margin: 0;
    padding: 0;
    background:url(../img/FONDOCIELO.jpg) no-repeat center top;
    background-size: cover;
    font-family:sans-serif;

}

.body-body{
    padding: 3%;
}

p{
    text-align: justify;
}
.logobox .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5%;
    
    
    
    /*top: -50px;
    left: calc(50% - 50px);*/
}
    /*EFECTO
    .logobox:hover .avatar {-webkit-transform:scale(1.3);transform:scale(1.3);transition:all .5s ease-in-out}
    .logobox {overflow:hidden;}*/

.img-productos{
    width: 250px;
    height: 250px;
    
}
header{
margin: auto;
width: 90%;
padding: 3%;
display: inline-block;
}

.top-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin: auto;
    
    }/* En esta sección se llama a las etiquetas "ul" para poder sacarle el estilo tipo lista*/
.top-bar a{
text-decoration: none;
color: darkslategray;
margin: auto;
padding: 2px;

} /* En esta sección se llama a las etiquetas "a" para poder sacarle la decoración*/



footer{
    background-color: darkslategray;
    color: white;
    font-size: 10px;
    text-align:left;
    display: flex;
    padding: 3%;
    
}

.end-page{
    font-size: 11px;
    text-align: left;
    padding: 3%;
    line-height: normal;
}

.fb{
    width: 25px;
    height: 25px;
    padding: 1%;
}

.insta{
    width: 25px;
    height: 25px;
    padding: 1%;
}

