body{
    margin: 0;
    padding:0;
    background:url(../img/FONDOCIELO.jpg) no-repeat center top;
    background-size: cover;
    font-family:sans-serif;
    height: 100vh;
    
    
}
.login-box {
        width: 35%;
        height: 55%;
        border-radius: 30px;
        background-color:darkslategray;
        color: #ffff;
        top: 55%;
        left: 50%;
        transform:translate(100%, 0%);
        box-sizing: border-box;
        padding: 70px 30px;
}

.login-box .avatar{
width: 100px;
height: 100px;
border-radius: 50%;
position:absolute;
top: -70px;
left: calc(47% - 50px);
}
/*EFECTO*/
.logobox:hover .avatar {-webkit-transform:scale(1.3);transform:scale(1.3);transition:all .5s ease-in-out}
.logobox {overflow:hidden;}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5%;
    }

.titulo01{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}

.login-box input{

    width: 100%;
    margin-bottom: 20px;
}

.usua,.pass{
    border: none;
    border-bottom: 1px solid #FFEECC;
    background: transparent;
    outline: none;
    height: 40px;
    color:#FFEECC;
    font-size: 16px;

}

.botonsubmit{
    border: none;
    outline: none;
    height: 40px;
    background: #FFEECC;
    font-size: 18px;
    border-radius: 20px;

}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;

}

.login-box a:hover{
    color: #FFEECC;
}
/*
@media only screen and (min-width: 768px) {

    .login-box {
        width: 320px;
        height: 420px;
        border-radius: 10%;
        background-color:darkslategray;
        color: #ffff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform:translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
    
}}*/

header{
    margin: auto;
    width: 90%;
    padding: 3%;
    display: inline-block;
    }
    
    .top-bar ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin: auto;
        
        }/* En esta sección se llama a las etiquetas "ul" para poder sacarle el estilo tipo lista*/
    .top-bar a{
    text-decoration: none;
    color: darkslategray;
    margin: auto;
    padding: 2px;
    
    } /* En esta sección se llama a las etiquetas "a" para poder sacarle la decoración*/


    footer{
        background-color: darkslategray;
        color: white;
        font-size: 10px;
        text-align:left;
        display: flex;
        padding: 3%;
        
    }
    
    .end-page{
        font-size: 11px;
        text-align: left;
        padding: 3%;
        line-height: normal;
    }
    
    .fb{
        width: 25px;
        height: 25px;
        padding: 1%;
    }
    
    .insta{
        width: 25px;
        height: 25px;
        padding: 1%;
    }

