<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/Proyecto-Integrador/public/css/carrito.css" rel="stylesheet"> </link>
    <title>Carrito | Daphne Tienda Energética</title>
      </head>
 <body>
   <div class="logoencarrito">
     <img class = "avatar" src="/Proyecto-Integrador/public/img/logo_daphne.png" alt="Logo Daphne">
    </div>
     
      <form>
        <h1 class = "titulo02">CARRITO</h1><br>
        <h2>PRODUCTOS</h2>
        <div class="box-total">
        <img class = "img-producto" src="/Proyecto-Integrador/public/img/porta_sa_ve.jpg" alt="Porta sahumerio y vela">
        <div class="descripcion-prod">
        <h4>Porta Sahumerio + Porta Vela</h4>
        <p>Cantidad </p>
        <input class="cantidad" type="number" placeholder="0">
        <p>Precio: $1500</p>
        <p>Subtotal: $1500</p>
        <p>Costo de envío: gratis</p>
        <p>TOTAL: $1500</p>
        <a href="#">¿Tenes un cupón de descuento?</a>
      </div>
      </div>
        <!--EMAIL-->
        <h2>DATOS DE CONTACTO</h2>
       <div class="box-contacto"> 
       <label class = "label" for="email">Email</label>
       <input class = "usua" type="email" placeholder="Ingresá tu email">
       <p>¿Ya tenes una cuenta? <a href="#">Iniciar Sesión</a></p><br>
      </div>
       <!--ENTREGA-->
       <H2>ENTREGA</H2>
       <div class="box-entrega">
       <label class = "label" for="text">Domicilio</label>
       <input class = "pass" type="text" placeholder="Dirección de entrega">
       <label class = "label" for="text">Localidad</label>
       <input class = "pass" type="text" placeholder="Localidad">
       <label class = "label" for="text">Provincia</label>
       <input class = "pass" type="text" placeholder="Provincia">
       <label class = "label" for="number">Código postal</label>
       <input class = "cp" type="number" placeholder="Código Postal">
      </div>
       <div class="box-comprar">    

       <input class = "botoncomprar" type="submit" value="Comprar">
       <br>
       <a href="#">Seguir comprando</a><br>
       <br>
       <a href="#">Suscríbete a nuestro news letter</a>
      </div>
      </form>
   </div>
 </body>
</html>