
<h1 class = "titulo01">Crear Producto</h1>
      <br>
      <form>
       
       <label class = "label" for="codigo de producto">Sku</label>
       <input class = "usua" type="text">
       
       <label class = "label" for="producto">Nombre del producto</label>
       <input class = "usua" type="text">
       
       <label class = "label" for="descripcion">Descripción</label>
       <input class = "usua" type="text">
       
       <label class = "label" for="categoria">Categoría</label>
       <input class = "usua" type="text">
       
       <label class = "label" for="stock">Estado de inventario</label>
       <label><input type="checkbox" id="enStock" value="enStock"> En stock</label><br>
       <label><input type="checkbox" id="sinStock" value="sinStock"> Sin stock</label><br>     
       
       <label class = "label" for="precio">Precio</label>
       <input class = "usua" type="number">
       
       <label class = "label" for="imagen">Cargar imagén</label>
       <input class = "usua" type="file" accept="image/*" multiple>
      
       <input class = "botonsubmit" type="submit" value="Crear">
       
      </form>