<!--<%- include("./partials/head") %>--> 
<!DOCTYPE html>

<html>
    <head>
        <title> "Daphne-Tienda energetica"</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/home.css" rel="stylesheet">
    </head>
    <div class="logobox">
        <img class = "avatar" src="img/logo_daphne.png" alt="Logo Daphne">
       </div>
    <body> 
       
        <%- include("./partials/header") %>
    <div class="body-body">
        <section>
            <article>
                <% for (let i = 0; i < productos.length; i++) {%>
                <img class="img-productos" src= "img/Sahumerios.JPG" alt="Titulo del producto">
                
                <h3>Sahumerios</h3>
                <p> ¿Querés que tu casa o tu negocio tengan una energía única?
                    Estos sahumerios son históricamente reconocidos porque tienen un aroma único. 
                    Son muy utilizados por los budistas y es lo primero que percibís al llegar a 
                    un monasterio hindú. Antiguamente, cada uno utilizaba una fórmula distinta que 
                    se guardaba en secreto, por lo que no eran todos iguales los aromas.
                </p>
                <a href="/producto/detail/<%=productos[i].id%> ">ver más</a>
            </article>
            <% } %>
            <article>
                
                <img class="img-productos" src= "img/Sahumerios.JPG" alt="Titulo del producto">
                
                <h3>Sahumerios</h3>
                <p> ¿Querés que tu casa o tu negocio tengan una energía única?
                    Estos sahumerios son históricamente reconocidos porque tienen un aroma único. 
                    Son muy utilizados por los budistas y es lo primero que percibís al llegar a 
                    un monasterio hindú. Antiguamente, cada uno utilizaba una fórmula distinta que 
                    se guardaba en secreto, por lo que no eran todos iguales los aromas.
                </p>
                <a href="#">ver más</a>
            </article>
            <article>
                
                <img class="img-productos" src= "img/Sahumerios.JPG" alt="Titulo del producto">
                
                <h3>Sahumerios</h3>
                <p> ¿Querés que tu casa o tu negocio tengan una energía única?
                    Estos sahumerios son históricamente reconocidos porque tienen un aroma único. 
                    Son muy utilizados por los budistas y es lo primero que percibís al llegar a 
                    un monasterio hindú. Antiguamente, cada uno utilizaba una fórmula distinta que 
                    se guardaba en secreto, por lo que no eran todos iguales los aromas.
                </p>
                <a href="#">ver más</a>
            </article>
            <article>
                
                <img class="img-productos" src= "img/Sahumerios.JPG" alt="Titulo del producto">
                
                <h3>Sahumerios</h3>
                <p> ¿Querés que tu casa o tu negocio tengan una energía única?
                    Estos sahumerios son históricamente reconocidos porque tienen un aroma único. 
                    Son muy utilizados por los budistas y es lo primero que percibís al llegar a 
                    un monasterio hindú. Antiguamente, cada uno utilizaba una fórmula distinta que 
                    se guardaba en secreto, por lo que no eran todos iguales los aromas.
                </p>
                <a href="#">ver más</a>
            </article>

        </section>

        <section>
            <article>
                
                <img class="img-productos" src= "img/Sahumerios.JPG" alt="Titulo del producto">
                
                <h3>Sahumerios</h3>
                <p> ¿Querés que tu casa o tu negocio tengan una energía única?
                    Estos sahumerios son históricamente reconocidos porque tienen un aroma único. 
                    Son muy utilizados por los budistas y es lo primero que percibís al llegar a 
                    un monasterio hindú. Antiguamente, cada uno utilizaba una fórmula distinta que 
                    se guardaba en secreto, por lo que no eran todos iguales los aromas.
                </p>
                <a href="#">ver más</a>
            </article>
            <article>
                
                <img class="img-productos" src= "img/Sahumerios.JPG" alt="Titulo del producto">
                
                <h3>Sahumerios</h3>
                <p> ¿Querés que tu casa o tu negocio tengan una energía única?
                    Estos sahumerios son históricamente reconocidos porque tienen un aroma único. 
                    Son muy utilizados por los budistas y es lo primero que percibís al llegar a 
                    un monasterio hindú. Antiguamente, cada uno utilizaba una fórmula distinta que 
                    se guardaba en secreto, por lo que no eran todos iguales los aromas.
                </p>
                <a href="#">ver más</a>
            </article>
            <article>
                
                <img class="img-productos" src= "img/Sahumerios.JPG" alt="Titulo del producto">
                
                <h3>Sahumerios</h3>
                <p> ¿Querés que tu casa o tu negocio tengan una energía única?
                    Estos sahumerios son históricamente reconocidos porque tienen un aroma único. 
                    Son muy utilizados por los budistas y es lo primero que percibís al llegar a 
                    un monasterio hindú. Antiguamente, cada uno utilizaba una fórmula distinta que 
                    se guardaba en secreto, por lo que no eran todos iguales los aromas.
                </p>
                <a href="#">ver más</a>
            </article>
            <article>
                
                <img class="img-productos" src= "img/Sahumerios.JPG" alt="Titulo del producto">
                
                <h3>Sahumerios</h3>
                <p> ¿Querés que tu casa o tu negocio tengan una energía única?
                    Estos sahumerios son históricamente reconocidos porque tienen un aroma único. 
                    Son muy utilizados por los budistas y es lo primero que percibís al llegar a 
                    un monasterio hindú. Antiguamente, cada uno utilizaba una fórmula distinta que 
                    se guardaba en secreto, por lo que no eran todos iguales los aromas.
                </p>
                <a href="#">ver más</a>
            </article>
            <article>
                
                <img class="img-productos" src= "img/Sahumerios.JPG" alt="Titulo del producto">
                
                <h3>Sahumerios</h3>
                <p> ¿Querés que tu casa o tu negocio tengan una energía única?
                    Estos sahumerios son históricamente reconocidos porque tienen un aroma único. 
                    Son muy utilizados por los budistas y es lo primero que percibís al llegar a 
                    un monasterio hindú. Antiguamente, cada uno utilizaba una fórmula distinta que 
                    se guardaba en secreto, por lo que no eran todos iguales los aromas.
                </p>
                <a href="#">ver más</a>
            </article>
            <article>
                
                <img class="img-productos" src= "img/Sahumerios.JPG" alt="Titulo del producto">
                
                <h3>Sahumerios</h3>
                <p> ¿Querés que tu casa o tu negocio tengan una energía única?
                    Estos sahumerios son históricamente reconocidos porque tienen un aroma único. 
                    Son muy utilizados por los budistas y es lo primero que percibís al llegar a 
                    un monasterio hindú. Antiguamente, cada uno utilizaba una fórmula distinta que 
                    se guardaba en secreto, por lo que no eran todos iguales los aromas.
                </p>
                <a href="#">ver más</a>
            </article>
        </div>

        </section>

        <%- include("./partials/footer") %>

    </body>

</html>