<!DOCTYPE html>

<html>
    <head>
        <title> "Daphne-Tienda energetica"</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/css/home.css" rel="stylesheet">
    </head>

    <body> 
       
        <header>
            <div>"Logo de la empresa"</div>
            <nav>
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Registrate</a></li>
                    <li><a href="#">Carrito</a></li>
                </ul>
            </nav>

        </header>

        <section>
            <article>

                <img >
                
            </article>
            <article>
                <img src= "imagen A" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">ver m치s</a>
            </article><article>
                <img src= "imagen B" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">ver m치s</a>
            </article>
            <article>
                <img src= "imagen C" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">ver m치s</a>
            </article>
            <article>
                <img src= "imagen D" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">ver m치s</a>
            </article>

        </section>

        <section>
            <article>
                <img src= "imagen 1" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article><article>
                <img src= "imagen 2" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article>
            <article>
                <img src= "imagen 3" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article>
            <article>
                <img src= "imagen 4" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article>
            <article>
                <img src= "imagen 5" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article>
            <article>
                <img src= "imagen 6" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article>


        </section>

        <footer>
            <div><img Logo de la empresa></div>
            <section>
                <h2>Productos</h2>
                <ul>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                    <li><a href="#">Enlace 4</a></li>
                </ul>
            </section>
            <section>
                <h2>Redes sociales</h2>
                <ul>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
            
                </ul>
            </section>
            <section>
                <h2>Nosotros</h2>
                <ul>
                    <li><a href="#">Enlace 1</a></li>
                   
                </ul>
            </section>
           

        </footer>

    </body>

</html>