<!--<%- include("./partials/head") %>--> 
<!DOCTYPE html>

<html>
    <head>
        <title> "Daphne-Tienda energetica"</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/home.css" rel="stylesheet">
    </head>

    <body> 
       
        <%- include("./partials/header") %>

        <section>
            <article>

                <img >
                
            </article>
            <article>
                <img src= "imagen A" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">ver m치s</a>
            </article><article>
                <img src= "imagen B" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">ver m치s</a>
            </article>
            <article>
                <img src= "imagen C" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">ver m치s</a>
            </article>
            <article>
                <img src= "imagen D" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">ver m치s</a>
            </article>

        </section>

        <section>
            <article>
                <img src= "imagen 1" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article><article>
                <img src= "imagen 2" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article>
            <article>
                <img src= "imagen 3" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article>
            <article>
                <img src= "imagen 4" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article>
            <article>
                <img src= "imagen 5" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article>
            <article>
                <img src= "imagen 6" alt="Titulo del producto">
                <h3>Titulo del producto</h3>
                <p> Bajada del producto</p>
                <a href="#">comprar</a>
            </article>


        </section>

        <%- include("./partials/footer") %>

    </body>

</html>