<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/css/login.css" rel="stylesheet"> </link>
    <title>Login | Daphne Tienda Energética</title>
      </head>
      <%- include("./partials/header") %>
 <body>
   <div class="login-box">
     <div class="logobox">
     <img class = "avatar" src="../img/logo_daphne.png" alt="Logo Daphne">
    </div>
      <h1 class = "titulo01">Iniciar Sesión</h1>
      <br>
      <form>
       <!--USERNAME-->
       <label class = "label" for="username">Nombre de Usuario</label>
       <input class = "usua" type="text" placeholder="Ingresá tu usuario">
       <!--PASSWORD-->
       <label class = "label" for="password">Contraseña</label>
       <input class = "pass" type="password" placeholder="Ingresá tu contraseña">

       <input class = "botonsubmit" type="submit" value="Ingresar">
       <a href="#">¿No recordas tu contraseña?</a><br>
       <a href="#">¿Todavía no tenes una cuenta?</a>

      </form>
   </div>
   <%- include("./partials/footer") %>
 </body>
</html>