<!DOCTYPE html>

<html>

 <head>
    <title>Producto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href= "/css/Producto.css" rel="stylesheet">
 </head>
 <%- include("./partials/header") %>

   <body>

     <header>
     </header>
     <main>

        <div id="imagenProducto">
            <img src="../public/img/Sahumerios.JPG" width="300px" height="300px" class="imagenProducto" alt="Sahumerio">
        </div>

        <section class="productos">

        
        <div>
            <h1>Sahumerio Patchouly</h1>
            <p>Patchouly</p>
            <img src="ruta de imagen" class="imagenMediosPago" alt="Medios de Pago">
            <button id="cantidad">Cantidad</button>
            <button>Comprar</button>
        </div>

        

       </section>
        <section id="detalleDeProducto">

            <div>
                <h3>Detalle del Producto</h3>
               <p> Se lo conoce por su aroma intenso, componente en muchos perfumes corporales. Aporta energía y vitalidad, también... activa la sensualidad y el erotismo. </p> 
            </div>

        </section>

        <section class="slider">

            <div>
                <article>
                    <img src="ruta de imagen" class="imagenSlider" alt="Nombre de Producto">
                    <h4> Nombre del producto </h4>
                    <button>Ver más</button>
                      
                </article>

                <article>
                    <img src="ruta de imagen" class="imagenSlider" alt="Nombre de Producto">
                    <h4> Nombre del producto </h4>
                    <button>Ver más</button>      
                </article>

                <article>
                    <img src="ruta de imagen" class="imagenSlider" alt="Nombre de Producto">
                    <h4> Nombre del producto </h4>
                    <button>Ver más</button>      
                </article>
                
            </div>

        </section>

     </main>

     <%- include("./partials/footer") %>
  
   </body>

</html>