<!DOCTYPE html>

<head>
    <title>Registro | Daphne Tienda Energética</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href= "/css/Registro.css" rel="stylesheet">
 </head>
 <%- include("./partials/header") %>

 <body>
     


 <main>

 </main>

 <section>
   
     
     
    <div>
        <img class = "avatar" src="../public/img/LOGO.jpg" alt="Logo de prueba">

        <h1>Crear Cuenta</h1>
     <form action="Registro">
         
        <label for="Nombre completo">Nombre Completo</label>
        <input type="text" name="Nombre completo" id="Nombre completo" required>
        <br>
         <label for="nacimiento">Fecha de nacimiento</label>
         <input type="date" name="nacimiento" value="nacimiento" required>
         <br>
         <label for="email">Email</label>
         <input type="email" name="Email" id="Email" required>
         <br>
         <label for="Contraseña">Contraseña</label>
         <input type="password" name="Clave" id="Clave" required>
         <br>
         <label for="CRM">Deseo recibir promociones y noticias</label>
         <input type="checkbox" name="CRM" value="CRM">
         
         <button>Crear cuenta</button>
     </form>
    </div>
 </section>
 <%- include("./partials/footer") %>
</body>
