<footer>
    <section>
        <h1>Seguinos</h1>
        <div> <img src="" alt="Facebook"> </div>
        <div> <img src="" alt="Instagram"> </div>

    </section>
   <div> <img src="" alt="Logo de la marca"> </div>
   <h3>Productos</h3>
   <h3>Contacto</h3>
   <h3>Legales</h3>
   <h3>Ofertas</h3>
   <h3>Sobre nuestros productos</h3>
</footer>