<footer>
   
    <div class = "footer01">
    <div class="logobox">
        <img class = "avatar" src="img/logo_daphne.png" alt="Logo Daphne">
       </div>
   <div class="end-page">
   <h3>Productos</h3>
   <h3>Contacto</h3>
   <h3>Legales</h3>
   <h3>Ofertas</h3>
   <h3>Sobre nuestros productos</h3>
   </div>
   </div>

   <section>
    <div class = "footer02">
    <h1>SEGUINOS EN LAS REDES</h1>
    <div> <img class="fb" src="/img/facebook.png" alt="Facebook"> </div>
    <div> <img class="insta" src="/img/instagram.png" alt="Instagram"> </div>
    </div>
</section>
</footer>