<!DOCTYPE html>

<head>
    <title>Registro | Daphne Tienda Energética</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href= "Registro.css" rel="stylesheet">
 </head>

 <body>
     


 <main>

 </main>

 <section>
     <div>
     <h1>Crear Cuenta</h1>
     <img class = "avatar" src="LOGO.jpg" alt="Logo de prueba">
     <form action="Registro">
         
         <input type="text" name="Nombre completo" id="Nombre completo" required>
         <label for="Nombre completo">Nombre Completo</label>
         
         <input type="date" name="Fecha de nacimiento" value="30-05-2021" required>
         <label for="Fecha de nacimiento">Fecha de nacimiento</label>
         
         <input type="email" name="Email" id="Email" required>
         <label for="email">Email</label>
         
         <input type="password" name="Clave" id="Clave" required>
         <label for="Contraseña">Contraseña</label>
         
         <input type="radio" name="CRM" value="¿Desea recibir promociones y noticias?">
         <label for="CRM">¿Desea recibir promociones y noticias?</label>

         <button>Crear cuenta</button>
     </form>
    </div>
 </section>

</body>
